:root {
    --dusty: #96858f;
    --lavender: #6d7993;
    --overcast: #9099a2;
    --paper: #d5d5d5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 73, 73);
    margin: 0px;
    background: var(--paper);
}

input[type=submit],
.button,
button {
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: var(--dusty);
    cursor: pointer;
    height: 30px;
    color: white;
    width: 80px;
    font-size: 14px;
}

.page-header {
    background: linear-gradient(-90deg, var(--overcast), var(--lavender));
    font-size: 25px;
    padding: 5px;
    color: white;
}

.page-title {
    text-decoration: none;
    color: var(--paper);
}

input[type=text] {
    background-color: rgb(232, 240, 254);
    height: 30px;
    border-radius: 4px;
    font-size: 16px;
}