.button {
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.top {
    padding: 0px;
    padding-bottom: 0px;
    width: calc(100% - 100px);
    margin: auto;
    height: 100px;
}

.article-list {
    display: block;
    background: white;
    border-style: solid;
    border-width: thin;
    border-color: var(--lavender);
    border-radius: 4px;
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: calc(100% - 100px);
    margin: auto;
}

.article-list h4 {
    font-size: 20px;
    padding-top: 22px;
}

.hztl-line {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 45px;
    height: 1px;
    background-color: var(--overcast);
    color: black;
}

.article-item-light {
    display: block;
    background: white;
    border-style: solid;
    border-width: thin;
    border-color: var(--lavender);
    border-radius: 4px;
    box-shadow: 2px 2px 2px var(--dusty);
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-right: 30px;
}

.article-item-light a {
    text-decoration: none;
    color: var(--lavender);
}

.article-item-dark {
    display: block;
    background: rgb(235, 235, 235);
    border-style: solid;
    border-width: thin;
    border-color: var(--lavender);
    border-radius: 4px;
    box-shadow: 2px 2px 2px var(--dusty);
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-right: 30px;
}

.article-item-dark a {
    color: var(--lavender);
}

.left-side {
    display: block;
    border-style: solid;
    border-color: var(--lavender);
    color: white;
    border-radius: 4px;
    padding-left: 30px;
    padding-top: 00px;
    padding-bottom: 03px;
    margin: 3px;
    width: 100px;
    background: var(--overcast);
}

.edit-tag {
    float: right;
    transform: translate(0px, -35px);
}